.message {
    display: flex;
    align-items: flex-start; /* Căn chỉnh avatar và nội dung tin nhắn */
    margin-bottom: 15px;
}

.message.reply {
    flex-direction: row-reverse; /* Điều chỉnh chiều để hiển thị bên phải */
}

.avatar {
    width: 40px; /* Kích thước avatar */
    height: 40px; /* Kích thước avatar */
    border-radius: 50%; /* Bo tròn avatar */
    margin: 0 10px; /* Khoảng cách giữa avatar và tin nhắn */
}

.message-content {
    display: flex;
    flex-direction: column; /* Sắp xếp nội dung theo cột */
}

.message-text {
    background-color: #e4f0ff; /* Màu nền cho tin nhắn */
    padding: 10px;
    border-radius: 5px;
    /* max-width: 70%;  */
    word-break: break-word; /* Ngăn ngừa từ dài làm tràn */
}

@media (max-width: 768px) {
    .order-lg-first .position-relative .anim-zoom {
        /* object-fit: cover;  */
        width: 100% !important;
        height: auto !important;
    }

    .anim-zoom {
        animation: none !important;
    }

    #love-story .position-relative .story-image img {
        width: 100% !important; 
        height: 650px !important; 
        object-fit:cover !important;
        object-position:100% 100% !important;
    }
}

@media (min-width: 769px) {
    .order-lg-first .position-relative .anim-zoom {
        object-fit: cover; 
        width: 100%
    }

    #love-story .position-relative .story-image img {
        width: 100%; 
        height: 100%; 
        object-fit:cover; 
        object-position:100% 65%;
    }
}

.container {
    text-align: center;
}

.women-image {
    max-width: 100%;
    height: auto;
}

/* Responsive cho các màn hình nhỏ hơn */
@media (max-width: 768px) {
    .title, .subtitle, .date {
        font-size: 2rem;
    }
}

.sp-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
}
