.message {
    display: flex;
    align-items: flex-start; /* Căn chỉnh avatar và nội dung tin nhắn */
    margin-bottom: 15px;
}

.message.reply {
    flex-direction: row-reverse; /* Điều chỉnh chiều để hiển thị bên phải */
}

.avatar {
    width: 40px; /* Kích thước avatar */
    height: 40px; /* Kích thước avatar */
    border-radius: 50%; /* Bo tròn avatar */
    margin: 0 10px; /* Khoảng cách giữa avatar và tin nhắn */
}

.message-content {
    display: flex;
    flex-direction: column; /* Sắp xếp nội dung theo cột */
}

.message-text {
    background-color: #e4f0ff; /* Màu nền cho tin nhắn */
    padding: 10px;
    border-radius: 5px;
    /* max-width: 70%;  */
    word-break: break-word; /* Ngăn ngừa từ dài làm tràn */
}

@media (max-width: 768px) {
    .order-lg-first .position-relative .anim-zoom {
        /* object-fit: cover;  */
        width: 100% !important;
        height: auto !important;
    }

    .anim-zoom {
        animation: none !important;
    }

    #love-story .position-relative .story-image img {
        width: 100% !important; 
        height: 650px !important; 
        object-fit:cover !important;
        object-position:100% 100% !important;
    }
}

@media (min-width: 769px) {
    .order-lg-first .position-relative .anim-zoom {
        object-fit: cover; 
        width: 100%
    }

    #love-story .position-relative .story-image img {
        width: 100%; 
        height: 100%; 
        object-fit:cover; 
        object-position:100% 65%;
    }
}

.container {
    text-align: center;
}

.women-image {
    max-width: 100%;
    height: auto;
}

/* Responsive cho các màn hình nhỏ hơn */
@media (max-width: 768px) {
    .title, .subtitle, .date {
        font-size: 2rem;
    }
}

.sp-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff3cd; /* Màu xanh đậm */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#preloader.hidden {
    opacity: 0;
    visibility: hidden;
}

.loading-text {
    font-size: 24px;
    color: #100d0b; /* Màu cam nhạt */
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    text-align: center;
}

.cursor {
    display: inline-block;
    width: 10px;
    background-color: #E76F51; /* Màu cam đậm */
    animation: blink 0.7s steps(2) infinite;
}

/* Animation for blinking cursor */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Hearts style */
.heart-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 10;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #E76F51; /* Màu cam đậm */
    transform: rotate(45deg);
    animation: floatUp 5s ease-in infinite;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

@keyframes floatUp {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(45deg);
        bottom: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1.5) rotate(45deg);
        bottom: 100%;
    }
}

